<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Point</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        table{
            margin:10px;
        }
    </style>
</head>
<body>
    <h1>Dhaval Monani 29/02/2024</h1>
    <h4>Welcome to Query Point</h4>
    <h5>Tables for accessing data</h5>
    <table border="1">
        <tr>
            <td>student_master</td>
            <td>student_master1</td>
            <td>result_master</td>
            <td>attendance_master</td>
            <td>subject_master</td>
        </tr>
    </table>
    <h5>Please note that table name are case sensitive</h5>
    <form action="/dqdata" method="post">
        <table>
            <tr>
                <td>Enter Your Query</td>
                <td><input type="text" name="query"></td>
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>
    </form>
    <table border="1">
        <tr>
            <% colnames.forEach((r)=>{ %>
                <td><%= r %></td>
            <% }) %>
        </tr>
        <% data.forEach((row)=>{ %>
        <tr>
                <% colnames.forEach((r)=>{ %>
                    <td>
                        <%= row[r]  %>
                    </td> 
                    <% }) %>
                </tr>
           
            <% }) %>
    </table>
    <table>
        <tr>
            <td><a href="/dynamicdata/first/<%= sql %>" id="first"><<</a></td>
            <td><a href="/dynamicdata/prev/<%= sql %>/<%= Id %>" id="prev"><</a></td>
            <td><input type="text" name="page" id="page" value="<%= Id %>"></td>
            <td><a href="/dynamicdata/next/<%= sql %>/<%= Id %>" id="next">></a></td>
            <td><a href="/dynamicdata/last/<%= sql %>" id="last">>></a></td>
            <td><input type="hidden" name="maxpage" id="maxpage" value="<%= max %>"></td>
        </tr>
    </table>
</body>
    <script>
        var max = document.getElementById('maxpage').value;
        max = max/10;
        var page = document.getElementById('page').value;
        if(page == 1)
        {
            document.getElementById('prev').style.pointerEvents = "none";
            document.getElementById('first').style.pointerEvents = "none";
        }
        else if(page == max)
        {
            document.getElementById('next').style.pointerEvents = "none";
            document.getElementById('last').style.pointerEvents = "none";
        }
    </script>
</html>